<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Get Form</h2>
    <form method="get" action="http://localhost:3000/getInfo">
        <input placeholder="Enter name" name="name"><br><br>
        <input placeholder="Enter username" name="uname"><br><br>
        <button type="submit">Submit</button>
    </form>
<br>
<h2>Post Form</h2>
<form method="post" action="http://localhost:3000/postInfo">
    <input placeholder="Enter name" name="name"><br><br>
    <input placeholder="Enter username" name="uname"><br><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>