<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a post</title>
</head>
<body>
    <h1>Add a post</h1>
    <form method="post" action="/posts">
        <input placeholder="Enter username" name="username"><br><br>
        <textarea placeholder="Type something" cols="30" rows="10" name="content"></textarea><br><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>